

.list{
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

@keyframes reveal{
  from{
    opacity: 0;
    transform: scale(0);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}

